.header {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navLink {
  color: #5c6970;
  text-decoration: none;
}

.navLink:hover {
  color: #d6cbcb;
}

.active {
  color: white;
  text-decoration: none;
}
